*{
    margin:0;
    padding: 0;
}
body{
    background-color:#086788;
    text-align: center;
    
}
.container{
    display: flex;
    justify-content: center;
}
.game{
    height: 60vmin;
    width:60vmin;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 1.6vmin;
}
.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 15px;
    border:none;
    box-shadow: 0 0 1rem rgba(13, 2, 2, 0.9);
    font-size:12vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#F0C808 ;
    color:black;
    
}
#win{
    height:40vmin;
    width:43vmin;
    border-radius: 20px;
    border:solid;
    border-color: black;
    box-shadow: 0 0 1rem rgba(13, 2, 2, 0.9);
    background-color: rgb(116, 8, 8);
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    display:none;

}
img{
    height:35vmin;
    width:40vmin;
}
.texter{
    font-size:8vmin;
    font-family: fantasy;
}
h1{
    font-size:8vmin;
    font-family: fantasy;
    padding:10px;
    margin:20px;
    font-weight: 200;
    letter-spacing: 12px;
}
#reset-btn{
    padding:1rem;
    font-size: 1.235rem;
    margin:3vmin;
    border-radius: 1.5rem;
    border:none;
    background-color:#500a08 ;
    color:#fff;
    /* width:300px; */
    letter-spacing: 1.5px;
    border:solid black;
    width:fit-content;
    align-self: center;
}
.draw{
    height:40vmin;
    width:43vmin;
    border-radius: 20px;
    border:solid;
    border-color: black;
    box-shadow: 0 0 1rem rgba(13, 2, 2, 0.9);
    background-color: rgb(116, 8, 8);
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    display:none;
 
}
footer{
    background-color: black;
    /* height:6vmin; */
    color:wheat;
    text-align: center;
    font-size:30px;
    padding: 15px;
    letter-spacing: 5px;
    font-family: fantasy;
    /* align-self: stretch; */
    text-align: center;
    /* flex-grow: 4; */
    /* align-self:stretch; */
    flex:1;
}
.fix{
    display: flex;
    /* justify-content:; */
    flex-direction: column;
    /* align-items: center; */
    flex-wrap: wrap;

    
}
.blur{
    filter: blur(5px);
}
